@model List<StudentBLL>


<div style="display:inline">
    <div class="float-left">
        <a asp-controller="Student" asp-action="Add" class="btn btn-link btn-sm">
            Add Record
        </a>
    </div>
    @*<a asp-controller="Student" asp-action="List" class="btn btn-link fa-pull-left btn-sm ">
        Reset
    </a>*@
    <div class="float-right">
        <a asp-controller="Student" asp-action="Home" class="btn btn-link btn-sm">
            Logout
        </a>
    </div>
</div>
<br />
<br />
<div class="float-right">
    <form method="get" asp-controller="Student" asp-action="List" style="right">
        <input type="search" placeholder="Enter Student name" value="" id="key" name="key" style="width:300px;"/>
        <input type="submit" value="Search">
        <input type="submit" value="Clear Search"/>
    </form>
  </div>
<br />
<br/>
<div class="container" >
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Student I.D</th>
                <th scope="col" class="text-center">First Name</th>
                <th scope="col" class="text-center">Last Name</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (StudentBLL item in Model)
            {
                <tr>
                    <td>@item.StudentID</td>
                    <td>@item.Firstname</td>
                    <td>@item.Lastname</td>
                    <td>
                        <a asp-controller="Student" asp-action="Edit"
                           asp-route-id="@item.StudentID" class="btn btn-success btn-sm">Edit</a>
                        <form asp-controller="Student" asp-action="Delete" method="post" style="display:inline">
                            <input type="hidden" name="StudentID" value="@item.StudentID" />
                            <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>